<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
</head>
<body background="black">
<table class="table table-hover table-dark" style="margin: auto">
    <thead style="width: 1000px">
    <tr>
        <th scope="col">Ім'я</th>
        <th scope="col">Адреса</th>
        <th scope="col">Вік</th>
        <th scope="col">Сума</th>
    </thead >
    <tbody style="width: 1000px">
        <tr th:each="clientList : ${clientList}"
            th:onclick="'window.location.href = \'' +
            @{/clients/{id}(id=${clientList.getId()})} + '\''">
            <td th:scope="col" th:text="${clientList.getName()}"></td>
            <td th:scope="col" th:text="${clientList.getAddress()}"></td>
            <td th:scope="col" th:text="${clientList.getAge()}"></td>
            <td th:scope="col" th:text="${clientList.getSum()}"></td>
        </tr>
    </tbody>
</table>

<a th:href= "@{'formClient'}" class="btn btn-success">
    <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Новий клієнт</a>
</body>
</html>