<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <title>Login page</title>
    <style>
        .container{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            text-align: center;
            width: 400px;
        }
        .container #form button{
            margin-left: 34.5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/loginAuth" method="get" id = "form" >
            <input type="text" placeholder="Enter login here" name="login" style="width: 150px"/>
            <input type="password" name="pass" style="width: 150px" placeholder="Enter password here"/>
            <button type="submit" class="btn btn-default btn-lg btn-block"  style="width: 300px">Log in</button>
        </form>
    </div>
</body>
</html>