<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <title>Transactions</title>
    <style>
        tr-grid{
            margin-top: 20%;
        }
    </style>
    <script th:inline="javascript">
        $(document).ready(function(){


            $("#search").click(function () {
                var data = $('#searchText').val();
                $("#search").click(function(){
                        $.ajax({
                            method:'GET',
                            data:{"name":data},
                            url:"/searchByName",
                            success:function () {

                            }
                        });

                });
            })

        })
    </script>
</head>
    <body>
        <div class="container">
            <h3 style="text-align: center">Transactions</h3>

            <div id = "tr-grid">
                <h4>All transactions</h4>
                <form action="/searchByName"  method="get">
                    <input placeholder="search by name" type="text" id = "searchText" name="name"/>
                    <button id="search">Search</button>
                </form>
            <table border="1" style="width:300px">
                <tr>
                    <td>id</td>
                    <td>amount</td>
                    <td>date</td>
                    <td>sender</td>
                    <td>receiver</td>
                </tr>
                <tr th:each="transaction : ${transactions}">
                    <td>
                        <p th:text="${transaction.id}"></p>
                    </td>
                    <td>
                        <p th:text="${transaction.amount}"></p>
                    </td>
                    <td>
                        <p th:text="${transaction.date}"></p>
                    </td>
                    <td>
                        <p th:text="${transaction.sender}"></p>
                    </td>
                    <td>
                        <p th:text="${transaction.receiver}"></p>
                    </td>
                </tr>
            </table>
        </div>
        </div>
    </body>
</html>